<a href="https://colab.research.google.com/github/JuliaBalakina/ALATA2024/blob/main/2024_ALaTA_05_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lists

Like a string, a list is a sequence of values.

In a string, the values are characters; in a list, they can be **any type**.

The values in a list are called **elements** or sometimes
**items**.

There are several ways to create a new list; the simplest is to enclose the elements
in square brackets (“[" and “]”):

> [1, 2, 3, 4]

> ['frog', 'rabbit', 'dog']

The first example is a list of four integers. The second is a list of three strings.


The elements of a list **don’t have to be the same type**.

The following list contains
a string, a float, an integer, and (!) another list:

>['spam', 2.0, 5, [10, 20]]

A list within another list is nested.

A list that contains no elements is called an **empty list**; you can create one with
empty brackets, [].

In [ ]:
x =''
e =[]
y = list()

In [ ]:
animals = ['frog', 'rabbit', 'dog']
print(animals [0])
print(len(animals))

frog
3

### Lists are mutable

Unlike strings, lists are mutable because you can change the order of items in a
list or reassign an item in a list. When the bracket operator appears on the left
side of an assignment, it identifies the element of the list that will be assigned.

In [ ]:
animals = ['frog', 'rabbit', 'dog'] ### a list of strings
animals[1]= 'cat'  ## update the value of the element with index [1]
print(animals)

['frog', 'cat', 'dog']

In [ ]:
for i in animals: ### for loop
    print(i)

frog
cat
dog

In [ ]:
animals = ['frog', 'rabbit', 'dog'] ## we use string methods for the elements of our list
for i in animals:
    i = i.capitalize()
    print(i)

Frog
Rabbit
Dog

### Slices

If you omit the first index, the slice starts at the beginning [:2].

If you omit the second,
the slice goes to the end [1:].

So if you omit both, the slice is a copy of the whole list [:].

In [ ]:
animals=['cat','dog','rabbit']
for i in animals [1:]: ## slices
    print(i)

dog
rabbit

In [ ]:
animals = ['frog', 'rabbit', 'dog'] #reverse order
animals = animals[::-1]
print(animals)

['dog', 'rabbit', 'frog']

In [ ]:
print(animals)
print(animals[0])
print(animals[0][-1])

['cat', 'dog', 'rabbit']
cat
t

In [ ]:
animals2=['cat', ['dog','rat']]
print(animals2[1])
print(animals2[1][0])
print(animals2[1][0][0])

['dog', 'rat']
dog
d

In [ ]:
animals2=[['cat','pig'], ['dog','rat']]
for immediate_constituents in animals2:
  for word in immediate_constituents:
    for letter in word:
        letter = letter.upper()
        print(letter)

C
A
T
P
I
G
D
O
G
R
A
T

In [ ]:
animals2=[['cat','pig'], ['dog','rat']]
for immediate_constituents in animals2:
  for word in immediate_constituents:
      word =word.capitalize()
      print(word)

Cat
Pig
Dog
Rat

In [ ]:
animals2=[['cat','pig'], ['dog','rat']]
for immediate_constituents in animals2:
    immediate_constituents='nothing'
    print(immediate_constituents)

nothing
nothing

In [ ]:
animals['dog','cat','rabbit']
for word in animals:
    word = [letter.upper()for letter in word]
    print(word)

['D', 'O', 'G']
['R', 'A', 'B', 'B', 'I', 'T']
['F', 'R', 'O', 'G']

**JOIN**

The method to convert a list of strings into a single string

s=' '.join (['my', 'house', 'is', 'large'])

my house is large

s='+'.join (['my', 'house', 'is', 'large'])

my+house+is+large

In [ ]:
animals = ['frog', 'rabbit', 'dog']
for word in animals:
    word = [letter.upper()for letter in word]
    print(word)
    print(''.join(word))

['F', 'R', 'O', 'G']
FROG
['R', 'A', 'B', 'B', 'I', 'T']
RABBIT
['D', 'O', 'G']
DOG

In [ ]:
animals = ['frog', 'rabbit', 'dog']
for word in animals:
    word = (''.join([letter.upper()for letter in word]))
    print(word)

FROG
RABBIT
DOG

In [ ]:
animals = ['frog', 'rabbit', 'dog']
for word in animals:
    print(''.join([letter.upper()for letter in word]))

FROG
RABBIT
DOG

**SPLIT**

The method to convert a string to a list.

new_list= input().split()

new_list= input().split(sep='*')

In [ ]:
new=input().split()
print(new)

the house is big
['the', 'house', 'is', 'big']

**Task**

Enter several words on one line separated by spaces and output these words separated by two hyphens "--".

In [ ]:
words = input("enter several words separated by spaces ")
words_list = words.split()
print("--".join(words_list))

enter several words separated by spaces cat dog
cat--dog

In [ ]:
new = input().split(' ')
print('--'.join(new))

cat dog
cat--dog

**Task**

Enter multiple words on one line separated by spaces.

Use join() to get a new line by inserting a "/" character between each two words of the original line.

In [ ]:
new = input().split(' ')
print('/'.join(new))

cat dog
cat/dog

### Len, range, enumerate

**len** returns the number of elements in the list.

**range** returns a list of indices from 0 to (n − 1), where n is the length of the list.

In [ ]:
print(list(range (10)))
print(list(range (1,10)))
print(list(range (1,10,3)))
print(list(reversed(range (1,10,3))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7]
[7, 4, 1]

In [ ]:
animals = ['frog', 'rabbit', 'dog']
for i in range(len(animals)):  ### len(animals)=3; range of indices: from 0 to (3-1)
    print(i)

0
1
2

In [ ]:
animals = ['frog', 'rabbit', 'dog']
print(len(animals))
for i in range(len(animals)):
    print(i)

3
0
1
2

In [ ]:
animals = ['frog', 'rabbit', 'dog']
for i in range(2,len(animals)+5): ## 2 is a starting point;len(animals)+1 - finish
    print(i)

2
3
4
5
6
7

In [ ]:
letters = ['a','k','p','d','p','h','l','t','e']
for i in range(0,(len(letters)),2): ## 2 is a starting point;len(letters)+1 - finish,2 - a step
  print(letters[i])
  print(i)

a
0
p
2
p
4
l
6
e
8

In [ ]:
letters = ['a','k','p','d','p','h','l','t','e']
for i in range(len(letters)):
  print(letters[i])
  print(i)

a
0
k
1
p
2
d
3
p
4
h
5
l
6
t
7
e
8

An in-built function **enumerate** gives you back two loop variables:

    The count of the current iteration
    The value of the item at the current iteration

In [ ]:
animals = ['frog', 'rabbit', 'dog']
for index,animal in enumerate(animals):
    print(index)
    print(animal)

0
frog
1
rabbit
2
dog

Also it accepts an optional argument that allows us to specify the starting index of the counter.

In [ ]:
animals = ['frog', 'rabbit', 'dog']
for index,animal in enumerate(animals,26):
    print(index)
    print(animal)

26
frog
27
rabbit
28
dog

In this example, we pass start=26, which starts count with the value 26
on the first loop iteration. Compare this with the previous examples, in which start had the default value of 0

### Nested lists

A list can contain any sort object, even another list (sublist), which in turn can contain sublists themselves, and so on. This is known as nested list.

You can use them to arrange data into hierarchical structures.

In [ ]:
grocery = [['oranges','lemons'],['potatoes','onions'],['bread','butter']]
print(grocery)
for i in grocery:
    for word in i:
        for letter in word:
            print(letter)
print(grocery[0][0][0])

[['oranges', 'lemons'], ['potatoes', 'onions'], ['bread', 'butter']]
o
r
a
n
g
e
s
l
e
m
o
n
s
p
o
t
a
t
o
e
s
o
n
i
o
n
s
b
r
e
a
d
b
u
t
t
e
r
o

In [ ]:
print(grocery[0])
print(grocery[1])
print(grocery[2])
for i in grocery[0]:
    print(i)

['oranges', 'lemons']
['potatoes', 'onions']
['bread', 'butter']
oranges
lemons

In [ ]:
print(grocery [0][0])
for i in grocery [0][0]:
    print(i)
print(grocery[0][0][0])

oranges
o
r
a
n
g
e
s
o

### Task 1 H/A

Given is a list : new = ['-1', 'orange', '!:']

search for letters in this list and if you find one print: 'x is a letter!'

the output:

o is a letter!

r is a letter!

a is a letter!

n is a letter!

g is a letter!

e is a letter!

In [ ]:
new = ['-1', 'orange', '!:']
for immediate_constituents in new:
  for item in immediate_constituents:
    if item.isalpha():
      print(item + ' is a letter!')

o is a letter!
r is a letter!
a is a letter!
n is a letter!
g is a letter!
e is a letter!

In [ ]:
new = ['-1', 'orange',  '!:']
for i in new:
  for x in i:
    if x.isalpha():
      print(f"{x} is a letter!")

o is a letter!
r is a letter!
a is a letter!
n is a letter!
g is a letter!
e is a letter!

In [ ]:
new = ['-1', 'orange', '!:']
for i in new:
  for letter in i:
    if letter.isalpha():
      print(letter, 'is a letter!')

o is a letter!
r is a letter!
a is a letter!
n is a letter!
g is a letter!
e is a letter!

### List operations

The + operator concatenates lists

The * operator repeats a list a given number of times

In [ ]:
animals = ['cat', 'dog', 'frog']
grocery = [['oranges', 'lemons'], ['potatoes', 'onions'], ['bread', 'butter']]
joint_list = animals + grocery
print(joint_list)
print (animals*3)
print(joint_list[0])

['cat', 'dog', 'frog', ['oranges', 'lemons'], ['potatoes', 'onions'], ['bread', 'butter']]
['cat', 'dog', 'frog', 'cat', 'dog', 'frog', 'cat', 'dog', 'frog']

In [ ]:
print(joint_list[3][0])
print (joint_list[4][1][5])
print (joint_list[4][1][-1])

oranges
s
s

## List methods

### Append

Append adds a new
element to the end of a list.

In [ ]:
animals = ['frog', 'rabbit', 'dog']
animals.append('cat') # animals += ('cat')
print(animals)

['frog', 'rabbit', 'dog', 'cat']

In [ ]:
animals =['frog', 'rabbit', 'Dog', 'cat']
new_animals =[]
for i in animals:
    if len(i)==3:
        new_animals.append(i)
print(new_animals)

['Dog', 'cat']

**Task**

Enter a list of numbers from 1 to 20. Print the numbers of this list in one line separated by spaces.

Note that join() only works with a list of strings, so you need to convert the numbers to strings.

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]

1 2 3 4 5 6 7 8 9 10

### Sort

Sort arranges the elements of the list from low to high.

In [ ]:
animals.sort()
print(animals)

['Dog', 'cat', 'frog', 'rabbit']

In [ ]:
numbers = [4,67,-4]
numbers.sort()
print(numbers)

[-4, 4, 67]

In [ ]:
animals[3]= 'Rabbit'
animals.sort()
print(animals)

['Dog', 'Rabbit', 'cat', 'frog']

In [ ]:
grocery = [['oranges','lemons'],['potatoes','onions'],['bread','butter']]
grocery[0].sort()
print(grocery[0])

['lemons', 'oranges']

In [ ]:
grocery = [['oranges','lemons'],['potatoes','onions'],['bread','butter']]
grocery.sort()
print(grocery)

[['bread', 'butter'], ['oranges', 'lemons'], ['potatoes', 'onions']]

In [ ]:
grocery = [['oranges','lemons'],['potatoes','onions'],['bread','butter']]
for i in grocery:
    i.sort()
print(grocery)

[['lemons', 'oranges'], ['onions', 'potatoes'], ['bread', 'butter']]

In [ ]:
animals =['frog', 'rabbit', 'Dog', 'cat']
for i in animals:
  k=sorted(i)
  print(''.join(k))

fgor
abbirt
Dgo
act

### Deleting elements

There are several ways to delete elements from a list. If you know the index of the
element you want, you can use **pop**.

**Pop** modifies the list and returns the element that was removed. If you don’t
provide an index, it deletes and returns the last element.


If you don’t need the removed value, you can use the **del** operator.

To remove more than one element, you can use del with a slice index

If you know the element you want to remove (but not the index), you can use
**remove**.

In [ ]:
print(animals)
x = animals.pop(-1) # the argument is the index of the object. The result of the operation can be saved to a variable.
print(animals)
print(x)

['dog', 'rabbit', 'frog']
['dog', 'rabbit']
frog

In [ ]:
animals = ['Rabbit', 'dog','cat']
animals.remove('cat') # argument - the object to be deleted.
print(animals)

['Rabbit', 'dog']

In [ ]:
animals = ['Rabbit', 'dog','cat']
del animals[:2]
print (animals)

['cat']

The **.index ()** method is used to search the lists. It returns the index of the object passed as an argument.

In [ ]:
grocery = [['oranges','lemons'],['potatoes','onions'],['bread','butter']]
print (grocery)
for i in grocery[1]:
    for b in i:
        if b == 'o':
            print(i.index(b)) ### returns the index of the first element which satisfies the requirements!

[['oranges', 'lemons'], ['potatoes', 'onions'], ['bread', 'butter']]
1
1
0
0

In [ ]:
grocery = [['oranges','lemons'],['potatoes','onions'],['bread','butter']]
for i in grocery[1]:
    for b,p in enumerate(i):
        if p == 'o':
            print(b,p)

1 o
5 o
0 o
3 o

**.count ()** counts the number of elements and **.reverse ()**  reverses the list.

In [ ]:
letters = ['a','b','d','a','d']
print(letters.count('a'))
letters.reverse()
print(letters)

2
['d', 'a', 'd', 'b', 'a']

In [ ]:
animals = ['Rabbit', 'dog','cat']
print(animals.count('a'))

0

In [ ]:
animals = ['Rabbit', 'dog','cat']
print ([letter.count ("a") for letter in animals for p in letter])

[1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1]

In [ ]:
animals = ['Rabbit', 'dog','cat']
for word in animals:
  for letter in word:
    print (word.count ("a") )

1
1
1
1
1
1
0
0
0
1
1
1

In [ ]:
animals = ['Rabbit', 'dog','cat']
for word in animals:
  for letter in word:
    total = word.count ("a")
  print(total)

1
0
1

In [ ]:
animals = ['Rabbit', 'dog','cat']
for word in animals:
    for p in word:
        print(f'{word.count(p)}:{p}')
        print([word.count(p),p])

1:R
[1, 'R']
1:a
[1, 'a']
2:b
[2, 'b']
2:b
[2, 'b']
1:i
[1, 'i']
1:t
[1, 't']
1:d
[1, 'd']
1:o
[1, 'o']
1:g
[1, 'g']
1:c
[1, 'c']
1:a
[1, 'a']
1:t
[1, 't']

In [ ]:
animals = ['Rabbit', 'dog','cat'] ##### Home assignment (14.10): Print the letter and the number of times it appears in a word.

In [ ]:
animals = ['Rabbit', 'dog','cat']
print ([ (letter.count (p),p)  for letter in animals for p in letter])

[(1, 'R'), (1, 'a'), (2, 'b'), (2, 'b'), (1, 'i'), (1, 't'), (1, 'd'), (1, 'o'), (1, 'g'), (1, 'c'), (1, 'a'), (1, 't')]

In [ ]:
animals = ['Rabbit', 'dog','cat']
print ([ (word.count (p),p)  for word in animals for p in word])

[(1, 'R'), (1, 'a'), (2, 'b'), (2, 'b'), (1, 'i'), (1, 't'), (1, 'd'), (1, 'o'), (1, 'g'), (1, 'c'), (1, 'a'), (1, 't')]

In [ ]:
animals = ['Rabbit', 'dog','cat']
vowels = 'aeio'
print ([ (word.count (p),p)  for word in animals for p in word if p not in vowels])

[(1, 'R'), (2, 'b'), (2, 'b'), (1, 't'), (1, 'd'), (1, 'g'), (1, 'c'), (1, 't')]

**Insert**
s.insert (i,x) - inserts x in the 'i-s' place.

If i=>len(s) - puts the element x on the final position.

In [ ]:
animals = ['Rabbit', 'dog','cat']
animals.insert (0, 'rat')
print(animals)

['rat', 'Rabbit', 'dog', 'cat']

**Task 2**

Make the programme to calculate the sum of the 1st and the final element in the list given.

Input: [1,2,3]

Output: 4

In [ ]:
x=input().split(',')
print(x)
print(int(x[0])+int(x[-1]))

1,2,3
['1', '2', '3']
4

**Task 3**

1. Print a list of N natural numbers. For the length of the list and each element of the list, enter them on a separate line.
(use while loop to create a list)

x=[]

length = int(input())

Create a program that prints the list on separate lines after the following actions:

1. replace the first element in the list with 123

2. add 999 to the end of the list

3. insert 2024 in the 3rd place in the list

4. remove 999 from the list

5. remove 1000 from the list.

In [ ]:
length = int(input())
x = []
i = 1
while i <= length:
    z=int(input())
    x.append(z)
    i += 1
x[0] = 123
x.append(999)
x.insert(2, 2024)
x.remove(999)
x.remove(1000)
print(x)

4
1
3
5
1000
[123, 3, 2024, 5]

In [ ]:
print(list(range(0,11,2)))

[0, 2, 4, 6, 8, 10]

**Task 4**

Print a list of N natural numbers. For the length of the list and each element of the list, enter them on a separate line. (use while loop to create a list)

Create and print a new list, which containts every third element of first list.

list = [1,2,3,4,5,6,7]

new_list = [3,6]

In [ ]:
lis = list(range(1,8))
print(lis)
new=[]
for i in range(3,len(lis),3):
  new.append(i)
print(new)

[1, 2, 3, 4, 5, 6, 7]
[3, 6]

Other methods https://docs.python.org/3/tutorial/datastructures.html

### Lists and functions

There are a number of built-in functions that can be used on lists that allow you
to quickly look through a list without writing your own loops.

The **sum()** function only works when the list elements are numbers. The other
functions **max()**, **min()** work with lists of strings and other types that can
be comparable.

In [ ]:
numbers = [1,4,6,8]
print(sum(numbers))
print ( sum(numbers [1:3]))
print(min (numbers))
print(max(numbers))

19
10
1
8

In [ ]:
animals= ['cat', 'parrot', 'mouse']
print(min (animals))
print(max(animals))

cat
parrot

In [ ]:
animals= ['cat', 'parrot', 'mouse']
print('-'.join(animals))
new_animals =''
for i in animals:
    new_animals+=i
print(new_animals)

cat-parrot-mouse
catparrotmouse

**##### Home assignment (14.10)**

animals = ['Rabbit', 'dog','cat']

 Print each letter and the number of times it appears in a word.

In [ ]:
animals = ['Rabbit', 'dog','cat']
counts=[]
letters=""
for word in animals:
  for letter in word:
    if letter in word:
      letters+=letter
print(letters)
counted_letters = []
for i in letters:
    if i not in counted_letters:
        counts.append((letters.count(i), i))
        counted_letters.append(i)
print(counts)

Rabbitdogcat
[(1, 'R'), (2, 'a'), (2, 'b'), (1, 'i'), (2, 't'), (1, 'd'), (1, 'o'), (1, 'g'), (1, 'c')]

In [ ]:
animals = ['Rabbit', 'dog','cat']
for word in animals:
  list_char = []
  for char in word:
    if char not in list_char:
      count = word.count(char)
      list_char.append(char)
      print(word.count(char),char)

1 R
1 a
2 b
1 i
1 t
1 d
1 o
1 g
1 c
1 a
1 t

In [ ]:
animals = ['Rabbit', 'dog','cat']
for word in animals:
  for letter in word:
    print((word.count(letter)),':',letter)

1 : R
1 : a
2 : b
2 : b
1 : i
1 : t
1 : d
1 : o
1 : g
1 : c
1 : a
1 : t

In [ ]:
animals = ['Rabbit', 'dog', 'cat']
result = []
for animal in animals:
    unique_letters = list(set(animal))
    for letter in unique_letters:
      print(letter, animal.count(letter))

i 1
a 1
R 1
t 1
b 2
o 1
d 1
g 1
t 1
a 1
c 1

In [ ]:
animals = ['Rabbit', 'dog', 'cat']
for animal in animals:
    unique_letters = list(set(animal))
    print ([ (letter, animal.count (letter))  for letter in unique_letters])

[('i', 1), ('a', 1), ('R', 1), ('t', 1), ('b', 2)]
[('o', 1), ('d', 1), ('g', 1)]
[('t', 1), ('a', 1), ('c', 1)]

In [ ]:
animals = ['Rabbit', 'dog', 'cat']
result = {}
for animal in animals:
    letters_count = {}
    for letter in animal:
        if letter not in letters_count:
            letters_count[letter] = 0
        letters_count[letter] += 1
    result[animal] = letters_count
print(result)

{'Rabbit': {'R': 1, 'a': 1, 'b': 2, 'i': 1, 't': 1}, 'dog': {'d': 1, 'o': 1, 'g': 1}, 'cat': {'c': 1, 'a': 1, 't': 1}}

### Task 2 H/A

Given a list of integers.

Return a list, where the first element is the count of positive numbers and the second element is sum of negative numbers.

For input [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15],

you should return [10, -65]

Arrays:
1. 0, 2, 3, 0, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14  ([8,-50])
2. 0,0,0,0,0,0,0,0,0  ([0,0])

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]
count = 0
neg = []
for i in x:
  if i > 0:
    count += 1
  else:
    neg.append(i)
print([count, sum(neg)])

[10, -65]

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]
count = 0
neg = 0
for i in x:
  if i > 0:
    count += 1
  else:
    neg+=i
print(count,neg )

10 -65

### Task 3 H/A

You are given a list containing strings, integers and floating point numbers. Split it into three lists so that one contains only strings, the other contains only integers, and the third contains only floating point numbers. Note that when checking types, the type name is written without quotes, for example int.

Input:

         List 1: [1, 2, 5.6, 7.5, 'Boo', 1, 'RocknRoll']

Output:

         List 1: [1, 2, 1]
         
         List 2: [5.6, 7.5]
         
         List 3: ['Boo', 'RocknRoll']

In [ ]:

list = [1, 2, 5.6, 7.5, 'Boo', 1, 'RocknRoll']
list_str = []
list_int = []
list_float = []
for i in list:
  if type(i) == str:
    list_str.append(i)
  elif type(i) == int:
    list_int.append(i)
  else:
    list_float.append(i)
print(list_str)
print(list_int)
print(list_float)

['Boo', 'RocknRoll']
[1, 2, 1]
[5.6, 7.5]

In [ ]:
list = input().split(',')
list_str = []
list_int = []
list_float = []
for i in list:
  if i.isalpha() == True:
    list_str.append(i)
  elif i.isdigit() == True:
    list_int.append(i)
  else:
    list_float.append(i)
print(list_str)
print(list_int)
print(list_float)

1,r,4.0
['r']
['1']
['4.0']

### Task 4 home assignment

You will be given an array which will have three values (tail, body, head). It is your job to re-arrange the array so that the animal is the right way round (head, body, tail).

Same goes for all the other arrays/lists that you will get: you have to change the element positions with the same exact logics.

1.["tail", "body", "head"]), ["head", "body", "tail"])

2.["tails", "body", "heads"]), ["heads", "body", "tails"])

3.["bottom", "middle", "top"]), ["top", "middle", "bottom"])

4.["lower legs", "torso", "upper legs"]), ["upper legs", "torso", "lower legs"])

5.["ground", "rainbow", "sky"]), ["sky", "rainbow", "ground"])

In [ ]:
x = ["tail", "body", "head"]
x.reverse()
print(x)

['head', 'body', 'tail']

### Task 5

Complete the square sum function so that it squares each number passed into it and then sums the results together.

For example, for [1, 2, 2] it should return 9 because 1^2 + 2^2 + 2^2 = 9.

1.[0, 3, 4, 5]), 50)

2. ([]), 0)

3. ([-1,-2]), 5)

4. ([-1,0,1]), 2)

In [ ]:
x = input().split(',')
print(x)
total=0
for i in x:
  i = int(i)**2
  total+=i
print(total)

0, 3, 4, 5
['0', ' 3', ' 4', ' 5']
50

### Task 6



Write a programme, which takes three arguments and generates a range of integers from min to max, with the step. The first integer is the minimum value, the second is the maximum of the range and the third is the step. (min < max)

Input:
minim = 2

maxim = 10

step = 2

Output: [2,4,6,8,10]


(1, 10, 3) # should return list of [1,4,7,10]

(2, 10, 2) # should return array of [2, 4, 6, 8, 10]

(1, 10, 3) # should return array of [1, 4, 7, 10]

In [ ]:
min = int(input())
max = int(input())
step = int(input())
print (list(range(min, max + 1, step)))

1
10
3
[1, 4, 7, 10]

### Task 7

Given a sequence of numbers, find the largest pair sum in the sequence.

For example

[10, 14, 2, 23, 19] -->  42 (= 23 + 19)

[99, 2, 2, 23, 19]  --> 122 (= 99 + 23)

In [ ]:
x=input().split()
int_x = []
for i in x:
  int_x.append(int(i))
print(int_x)
first = max(int_x)
int_x.remove(first)
second = max(int_x)
print(first + second)

1 3 5
[1, 3, 5]

TypeError: 'int' object is not callable

In [ ]:
x=input().split()
int_x = list(map(int,x))
first = max(int_x)
int_x.remove(first)
second = max(int_x)
print(first + second)

1 3 5

TypeError: 'int' object is not callable

In [ ]:
numbers=[10, 14, 2, 23, 19]
numbers.sort()
print(numbers)
print(numbers[-1]+numbers[-2])

[2, 10, 14, 19, 23]
42

In [ ]:
numbers=[10, 14, 2, 23, 19]
numbers.sort()
first = numbers.pop(-1)
print(numbers)
second = max(numbers)
print(first + second)

[2, 10, 14, 19]

TypeError: 'int' object is not callable

### Lists and strings

To convert from a string to a list of
characters, you can use ***list***:

>s = 'spam'

>t = list(s)

>print(t)

['s', 'p', 'a', 'm']

The list function breaks a string into individual letters. If you want to break a
string into words, you can use the ***split method***:

>s = 'pining for the fjords'

>t = s.split()

> print(t)

['pining', 'for', 'the', 'fjords']

>print(t[2])

the

You can call split with an optional argument called a ***delimiter*** that specifies
which characters to use as word boundaries.

The following example uses a hyphen
as a delimiter:

>s = 'spam-spam-spam'

>s.split('-')

['spam', 'spam', 'spam']

***Join*** is the inverse of ***split***.

It takes a list of strings and concatenates the elements.

***join*** is a string method, so you have to invoke it on the delimiter and pass the list
as a parameter:


>t = ['pining', 'for', 'the', 'fjords']

>' '.join(t)

'pining for the fjords'

In this case the delimiter is a space character, so ***join*** puts a space between words.


To concatenate strings without spaces, you can use the empty string, “”, as a
delimiter.

In [ ]:
s = 'spam-spam-spam'
t=s.split('-')
print(t)
print('!'.join(t),end=('!'))

['spam', 'spam', 'spam']
spam!spam!spam!

In [ ]:
k = 'big,round,green'
k = k.split(',')
print(k)
type(k)

['big', 'round', 'green']

list

In [ ]:
k = ' '.join(k)
type(k)

str

### Task 8

Write a programme that accepts a string parameter, and reverses each word in the string. All spaces in the string should be retained.
Examples

"This is an example!" ==> "sihT si na !elpmaxe"

"double  spaces"      ==> "elbuod  secaps"

In [ ]:
words = input().split()
rev_words = [word[::-1] for word in words]
result = ' '.join(rev_words)
print(result)

This is an example!
sihT si na !elpmaxe

In [ ]:
words = input().split()
result=[]
for word in words:
  word=list(word)
  word.reverse()
  word= ''.join(word)
  result.append(word)
print(' '.join(result))

This is an example!
sihT si na !elpmaxe

In [ ]:
words = input()
b=words[::-1]
print(b)
c=b.split()
print(c)
print(' '.join(c[::-1]))

This is an example!
!elpmaxe na si sihT
['!elpmaxe', 'na', 'si', 'sihT']
sihT si na !elpmaxe

### Task 9

You need to check the provided string for good ideas 'good' and bad ideas 'bad'. If there are one or two good ideas, return 'Publish!', if there are more than 2 return 'I smell a series!'. If there are no good ideas, as is often the case, return 'Fail!'.

'bad', 'bad', 'bad', ------'Fail!'

'good', 'bad', 'bad', 'bad', 'bad'------ 'Publish!'

'good', 'bad', 'bad', 'bad', 'bad', 'good', 'bad', 'bad', 'good'------ 'I smell a series!'

In [ ]:
x=(input("Put some 'good' and 'bad' ")).split(",")
countgood=0
for word in x:
  if word=="good":
    countgood+=1
if countgood==1 or countgood==2:
    print("Publish!")
elif countgood>2:
    print("I smell a series..")
else:
        print("Fail!")

Put some 'good' and 'bad' good, bad
Publish!

In [ ]:
x=(input("Put some 'good' and 'bad' ")).split(",")
countgood=x.count('good')
if countgood==1 or countgood==2:
    print("Publish!")
elif countgood>2:
    print("I smell a series..")
else:
    print("Fail!")

Put some 'good' and 'bad' good, bad
Publish!

### Task 10 H/A 16.10

INPUT FORMAT:

     Two strings and number N - integer and positive
     
 Determine whether the text contains the N-th word (numbering from 1) and display it. If there is no word, display "There is no such word"

OUTPUT FORMAT:

     Line, answer to the problem
     
**Example1:**

Input 1: dog cat mouse

Input 2:  parrot goose

Input 3:  5

Output:  goose

**Example 2:**

Input 1: dog cat mouse

Input 2:  parrot goose

Input 3:  6

Output:  "There is no such word"

In [1]:
s1, s2 = input(), input()
num = int(input())
s = (s1 + ' ' + s2).split()
print(s)
if num <= len(s):
 print(s[num-1])
else:
 print('there is no such word')

 dog cat mouse
parrot goose
5
['dog', 'cat', 'mouse', 'parrot', 'goose']
goose

In [4]:
words = input().split(' ')
words2= input().split(' ')
result=[]
for word in words:
    result.append(word)
for word in words2:
   result.append(word)
number=int(input("Tell me the number... "))
if number > len(result) or number < 1:
  print("There is no such word :((((")
else:
  print(result[number - 1])

parrot goose
dog cat mouse
Tell me the number... 5
mouse

In [5]:
a=input().split()
b=input().split()
c=int(input())
d=a+b
for index, words in enumerate(d):
    if c==index+1:
        print(words)
        break
else:
    print('There is no such word')

dog cat mouse
parrot goose
5
goose

### 'Map' function

**Map()** is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as ***mapping***.

**map()** is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.

You can use any built-in function with map(), provided that the function takes an argument and returns a value.

For example, you have a list of numbers, initially all these numbers have a string data type, to work with them you need to convert them to an integer:

>old_list = ['1', '2', '3', '4', '5', '6', '7']

> new_list = list(map(int, old_list))

>print (new_list)

>[1, 2, 3, 4, 5, 6, 7]

or

>print(list(map(bool, [9, 0, 8, -288, 998, 0])))

>[True, False, True, True, True, False]

In [ ]:
string = 'word for word'
print(list(map(bool,string.split(' '))))

[True, True, True]

### Task 11 H/A

Given a long number, return all the possible sum of two digits of it.

For example, 12345: all possible sum of two digits from that number are:

[ 1 + 2, 1 + 3, 1 + 4, 1 + 5, 2 + 3, 2 + 4, 2 + 5, 3 + 4, 3 + 5, 4 + 5 ]

Therefore the result must be:

[ 3, 4, 5, 6, 5, 6, 7, 7, 8, 9 ]

(156), [ 6, 7, 11 ])

(81596), [ 9, 13, 17, 14, 6, 10, 7, 14, 11, 15 ])

3852 [ 11, 8, 5, 13, 10, 7 ])

(3264128), [ 5, 9, 7, 4, 5, 11, 8, 6, 3, 4, 10, 10, 7, 8, 14, 5, 6, 12, 3, 9, 10 ])

(999999), [ 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18 ])

In [9]:
x = input()
numberslist = list(map(int, x))
print(numberslist)
sums=[]
for i in range(len(numberslist)):
    for j in range(i + 1, len(numberslist)):
        sums.append(numberslist[i] + numberslist[j])
print(x, sums)

12345
[1, 2, 3, 4, 5]
12345 [3, 4, 5, 6, 5, 6, 7, 7, 8, 9]

In [11]:
x = input()
numberslist = list(map(int, x))
sums=[]
for i in range(len(numberslist)):
  l=i+1
  while l<len(numberslist):
    k=numberslist[i]+numberslist[l]
    sums.append(k)
    l+=1
print(x, sums)

12345
12345 [3, 4, 5, 6, 5, 6, 7, 7, 8, 9]

### Task 12 H/A

You have an integer array which was ordered by ascending except one number.


You need to figure out the  breaker. Breaker is the item, when removed from sequence, sequence becomes ordered by ascending.

For Example: [1,2,3,4,17,5,6,7,8] => 17 is the  breaker.

For Example: [19,27,33,34,112,578,116,170,800] => 578 is the  breaker.
    
Output: the  breaker

In [15]:
arrayy=[19,27,33,34,112,578,116,170,800]
z=0
for i in arrayy[1:]:
  if i<arrayy[z]:
    print(arrayy[z], 'is the breaker')
    break
  else:
    z+=1

578 is the breaker

In [16]:
arrayy=[19,27,33,34,112,578,116,170,800]
for i in range(len(arrayy)-1):
  if arrayy[i]>arrayy[i+1]:
    print(f'{arrayy[i]} is the first breaker')
    break

578 is the first breaker