<a href="https://colab.research.google.com/github/JuliaBalakina/ALATA2024/blob/main/2024_ALaTA_01_get_ready.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Hello")
print (1)
print ('2'+'2'+'fff')
print (1+1)

Hello
1
22fff
2

### Values and Types


A **value** is one of the basic things a program works with, like a letter or a number.

The values above are ***1***, ***"2"*** and ***“Hello”***, ***"fff"***


These values belong to different types: 1 is an **integer**, and “Hello” is a
**string**, so called because it contains a “string” of letters.

Strings are enclosed in quotation marks.


The print statement also works for integers.


Python knows the difference between an integer number and a string.


For example “+” means “addition” if something is a number and “concatenate” if something is a string.


Python knows what “type” everything is.
Some operations are prohibited:


You cannot add integer "1” to a string


We can ask Python what type something is by using **the type() function**.

In [5]:
print(1+1)

2

In [2]:
type(1)

int

In [ ]:
type('hello')

str

In [ ]:
k = 'nice'
type (k)

str

In [6]:
print('Hello' +1)

TypeError: can only concatenate str (not "int") to str

In [7]:
print(1+2)

3

In [8]:
"ni"+'ce'

'nice'

### Several Types of Numbers

Numbers have two main types

-  **Integers** are whole numbers:
   -14, -2, 0, 1, 100, 401233


-  **Floating Point Numbers** have  decimal parts:  -2.5 , 0.0, 98.6, 14.0


There are other number types - they are variations on float and integer

In [ ]:
y = 2
print(type(2))
print(type(y))

<class 'int'>
<class 'int'>

When you put an integer and floating point in an expression, the integer is implicitly converted to a float

You can control this with the built-in functions int() and float()

In [ ]:
float(42)

42.0

In [9]:
x = float(42)
print(x)
type(x)

42.0

float

In [10]:
x=int(3.0)
type(x)

int

In [11]:
i = 42
type(i)

int

In [12]:
i=42
f = float(i) ### i = 42, f=float(42)
print(f)
type(f)

42.0

float

In [18]:
a = 1
type(a)

int

In [16]:
a =1
b = str(a) ### b = str (1)
type(b)
print(b)
print(a+int(b))

1
2

In [19]:
a =8
a = float(a) # 8.0
print(a)
a = str(a) # "8.0"
print(a)
type(a)

8.0
8.0

str

In [20]:
b="1"
print(b)
print('1'+ b)  ### "1" and b - strings. That is why concatenation occurs, when two strings merge into one.

1
11

In [21]:
print (1+int(b)) # 1+1

2

In [23]:
int ("1")
str (5.78)

1

### Numeric Expressions


'+'  Addition

'-'	Subtraction

'*'	Multiplication


'/'	Division

'//' Floor division. Always returns integers.


'**' Power


'%'	Remainder (always non-negative)

In [ ]:
print(7 % 3) ### 7 - (3*2) остаток от целочисленного деления (remainder of integer division)

1

In [ ]:
11%2 # 11-10 (2*5)

1

In [ ]:
199%5 # 199 - 195

4

In [ ]:
print(9.5 / 2)
print(9.5 // 2) # '//' Special operation to stick with integers. It returns an integer answer,
              #rounded strictly down in case of fractional answers.

4.75
4.0

In [ ]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [22]:
139//7
139/7

19.857142857142858

### Order of Evaluation

When we string operators together - Python must know which one to do first

This is called “operator precedence”

Which operator “takes precedence” over the others?

x = 1 + 2 ** 3 / 4 * 5

Highest precedence rule to lowest precedence rule:

Parentheses are always respected

Exponentiation (raise to a power)

Multiplication, Division, and Remainder

Addition and Subtraction

Left to right

In [24]:
x = 1 + 2 ** 3 / 4 * 5         # 1) 2**3 =8, 2)8/4 = 2, 3)2*5 = 10, 4) 1+10 =11
print (x)

11.0

## **Task 1**
Vasya came up with the number, then he multiplied it by 7  and then reduced it by 3.
Find Vasya's result using the program if Vasya's number is
a) 338
b) 1764

In [25]:
x=338
print(x*7-3)

2363

In [26]:
x=1764
print(x*7-3)

12345

## **Task 2**
Vasya's new number in the team -17. Print Vasya's number and the number following his separated by a space.

In [36]:
x="17"
print ("17",int(x)+1)

17 18

In [37]:
x=17
y=x+1
print (x,y)

17 18

In [28]:
number = 17
print(str(number) + " " + str(number+1))

17 18

In [38]:
x = 17
print(x,x+1)

17 18

# **Task 3**

Complete the program that outputs the arithmetic mean of three integers. Use the formula (a+b+c)/3

In [48]:
a=int(input ())
b=int(input ())
c=int(input ())
print((a+b+c)/3)

1
1
2
1.3333333333333333

In [51]:
a, b, c = int(input()), int(input()), int(input())
print((a + b + c) / 3)

1
1
2
1.3333333333333333

# **Task 4**

Complete the program that outputs the sum of digits for the entered two-digit and three-digit integers.

x=52
output:7

x=523
output:10

In [56]:
x = 52
b = x % 10 ## 52-50 =2
print(b)
a = x // 10  ## 5
print(a)
print(a + b)

2
5
7

In [63]:
x = 523
a = x // 100
print(a)
b = x %100//10
print(b)
c = x % 10
print(c)
print(a + b + c)

5
2
3
10

In [62]:
x = 523
b = x %100//10  # 523 -500 =23  23//10 = 2
print(b)

2

**Home assignment **

Petya came up with 2 integers and told Vasya first their sum, and then the remainder.

Find and print Petya's numbers if he told Vasya

a) 100 and 56

b)2023 and 189

In [ ]:
a = 100
b=56
c=((a+b)//2)
d=100-c
print(c,d)

78 22

### Converting between types

**int()**     converts anything to integer

**float()**    converts anything to floating point number

**str()**      converts anything to string

In [ ]:
x = int('5')
print(x)
print(2 + int('5'))
print(str(5))
print(float(5))

5
7
5
5.0

In [ ]:
print(type(str(5647)))

<class 'str'>

In [ ]:
x = str(5647)
type(x)

str

In [ ]:
a = str(1+3)
print(a)
type(a)

### Task 5

Given are an integer 5 and a string '55':

1. convert a string into an integer
2. find the sum of both integers

# Task 6

Given are two integers  7 and 7
1. covert integers into strings
2. concatenate two strings

In [ ]:
print (str (7+7))

**Task 7**
1. Nick decided to type his name 10 times separated by a space.
2.Change the program and type any other name 10 times through 2 spaces

In [ ]:
name ="Nick"

**Task 8**

Use the program to help Nick type the last name and first name of any friend through 3 spaces.

**Task**

Print a number in which first there are 10 ones, then 9 twos, then 8 threes

Output:111111111122222222233333333

**Task**

Print the syllable "kwa" 20 times, the syllables should be separated by a hyphen.

Output: kwa-kwa-kwa-kwa-kwa-etc.

### User Input

We can instruct Python to pause and read data from the user using **the input()  function.

!!! The input()  function returns a string !!!

In [ ]:
name = input('Who are you? ')
type(name)

Who are you? Kate

str

In [ ]:
print('Welcome,', name + '!')

Welcome, Kate!

In [ ]:
x = input()

fg

In [ ]:
x = int(input())
type(x)

1

int

In [ ]:
x = input()
type(x)

1

str

### Converting User Input
If we want to read a number from the user, we must convert it from a string to a number using a type conversion function.

int(input()) - for integers

float(input()) - for floats

In [ ]:
eu = input ('Distance in km? ')
us = int(eu)/ 1.609344
print ('Distance in miles', us)

Distance in km? 100
Distance in miles 62.13711922373339

In [ ]:
eu = int(input ('Distance in km? '))
us = eu/ 1.609344
print ('Distance in miles', us)

Distance in km? 100
Distance in miles 62.13711922373339

### Task 9

Write a program to prompt the user for hours and rate per hour to compute gross pay.

Enter Hours: 35

Enter Rate: 2.75

Pay: 96.25

### Task 10

Write a program that asks the user from the keyboard his height in centimeters, his weight in kilograms (each indicator - a new line, in a new query) and returns the following message:

Body mass index: [value].

where  [value] is the calculated value of the body mass index.

The body mass index is calculated in the following way:

BMI=m/h2

where m is body weight in kilograms, h is height in meters.